<h2 class="country-name">{{name}}</h2>
<div class="country-wrapper">
    <div class="country-box">
        <p class="country__capital"><span>Capital: </span>{{capital}}</p>
        <p class="country__population"><span>Population: </span>{{population}}</p>
        <p class="country__lang"><span>Languages: </span>
            <ul>
                {{#each languages}}
                <li class="lang-item">{{this.name}}</li>
                {{/each}}
            </ul>
        </p>
    </div>
    <div class="country-image">
        <img src="{{flag}}" alt="flag of {{name}}" class="flag" width="250">
    </div>
</div>